/* Version 1.1 */
* {
    margin: 0;
    padding: 0;
}

.main-content{
    background-color:#3498db;
    color: #2c3e50;
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    padding:2rem;
}